<div class="container">
  <img class="logo" src="../assets/img/logo.png" alt="Dashedjs logo" />
  <h1>Dashedjs</h1>
  <h2>A Design system powered with <b>dashed</b> Web components</h2>
  <div class="action-buttons">
    <dashed-button
      routerLink="get-started"
      border-radius="6"
      dash-color="primary"
      >Get started
    </dashed-button>
    <dashed-button
      (click)="onClick($event)"
      border-radius="6"
      dash-color="danger"
      >Source
    </dashed-button>

    <dashed-toggle></dashed-toggle>

    <dashed-icon name="close"></dashed-icon>

    <dashed-button>Get started</dashed-button>
    <dashed-card></dashed-card>
    <dashed-checkbox>Checkbox</dashed-checkbox>
    <dashed-fab> <dashed-icon name="close"></dashed-icon> </dashed-fab>
    <dashed-header></dashed-header>
    <dashed-input></dashed-input>
    <dashed-link>Link</dashed-link>
    <dashed-notification></dashed-notification>
    <dashed-radio>Radio</dashed-radio>
    <dashed-select></dashed-select>
    <dashed-slider></dashed-slider>
    <dashed-tag>Tag text</dashed-tag>
    <dashed-toggle>Toggle</dashed-toggle>
  </div>
</div>
<footer>
  <div>Released under the MIT Licence</div>
  <div>&copy;2018 Fidèle Palouki | <a href="#">@dashedjs</a></div>
</footer>
<router-outlet></router-outlet>
