@import '../../../variables';

div.container {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, $color-stop-top, $color-stop-bottom);

  img.logo {
    width: 150px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: 400;
    padding: 0 2rem;
    margin: 0 auto 8px;
  }

  .action-buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 200px;
    max-width: 100%;
    dashed-button {
      --padding: 8px 16px;
      margin: 8px;
    }
  }
}

footer {
  font-size: 0.9rem;
  height: 20%;
  background: $color-stop-bottom;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
