<!--
  <div class="container">
    <nav>
      <h4>Components</h4>
      <ul>
        <li *ngFor="let component of componentList">
          <a>{{ component }}</a>
        </li>
      </ul>
    </nav>

    <div class="demo">
      <h5>{{ currentComponent }}</h5>
      <div class="usage">This is how to use the component</div>
      <div class="api">
        <div class="api__props">This is props api</div>
        <div class="api__css">This is the css api</div>
      </div>
      <div class="other">Other details</div>
    </div>
  </div>
-->

<app-nav></app-nav>
